body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

.fond {
  position: relative;
  text-align: center;
}

.logo {
  width: 100%;
  height: auto;
}

.texte {
  position: absolute;
  top: 45%;
  left: 65%; 
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
}


.bouton {
  margin-top: 20px;
}

.btn {
  position: relative; 
  text-align: center;
  width: 200px;
  height: 45px;
  background: transparent;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  cursor:pointer; 
  transition: background-color 0.3s ease;
}


.btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 300%;
  background: linear-gradient(#ff7f00, #ffae42, #ffcc80);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .5s;

}
.btn:hover{
background-color: transparent !important;
opacity: 0.4; /* Réduire l'opacité au survol */


}
.btn:hover:before {
  top: 0;

}

/* Cartes */
.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.card {
  width: 18rem;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  display: block;
  margin: 0 auto;
  width: 90px;
}

.card-body {
  text-align: center;
  font-size: 18px;
  color: black; /* Couleur du texte */
}
footer {
  background-image: url('images/fond.jpg'); /* Ajouter une image de fond */
  opacity: 0.8;
  background-size: cover; /* Assurer que l'image de fond couvre l'ensemble du footer */
  color: #fff; /* Toutes les écritures en blanc */
  padding: 40px 20px; /* Espacement intérieur */
  font-family: Arial, sans-serif; /* Police de caractères */
  border-top: 2px solid #ccc; /* Bordure supérieure */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px; /* Largeur maximale */
  margin: 0 auto; /* Centrage */
}

.section {
  flex: 1; /* Distribution équitable de l'espace */
  margin-right: 20px; /* Marge à droite entre les sections */
}

.section h4 {
  margin-bottom: 20px; /* Ajouter un espace en bas des titres */
}

.contact-info p {
  margin: 5px 0;
}

.explore ul {
  list-style: none; /* Suppression des puces */
  padding: 0; /* Suppression du remplissage */
}

.explore li {
  margin-bottom: 8px; /* Ajouter un espace entre les éléments de la liste */
}

.social-media {
  text-align: right; /* Alignement à droite */
}

.social-link {
  color: #fff; /* Couleur des liens */
  text-decoration: none;
  margin-right: 10px; /* Marge à droite entre les liens */
}

.social-link i {
  margin-right: 5px; /* Marge à droite entre l'icône et le texte */
}

.social-link:hover {
  text-decoration: underline; /* Soulignement au survol */
}

.legal-info {
  text-align: center; /* Centrage du texte des mentions légales */
  margin-top: 20px; /* Marge en haut */
}
